// Typography partial
@import "partials/colors";

// Fonts
@font-face {
    font-family: 'MahoganyOpti-Script';
    src: url('css/MahoganyOptiScript.woff2') format('woff2'),
        url('css/MahoganyOptiScript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


$sans-serif: 'Dancing Script', cursive;
$serif: Merriweather, Georgia, 'Times New Roman', serif;
$accent-font: 'MahoganyOpti-Script', cursive;

// Weights

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

// Sizes

$font-size-h1: 70px;
$font-size-h2: 55px;
$font-size-h3: 30px;
$font-size-h4: 22px;
$font-size-h5: 20px;
$font-size-p: 20px;
$nav-font-size: 18px;
$blog-post-title: 15px;

// Responsive Sizes

$responsive-h1: 40px;

// Line height

$base-line-height: 29px;

// Styles

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: $font-size-p;
  line-height: $base-line-height;
  color: $txt-primary;
  padding-bottom: 4px;
}

a {
  font-size: $font-size-p;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
  font-weight: $light;
  color: $h2-color;
}

h3 {
  color: $h3-color;
  font-size: $font-size-h4;
  font-weight: $bold;
  letter-spacing: 3px;
  line-height: $base-line-height;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  color: $h5-color;
  font-weight: $semibold;
}